:root {
    --very-dark-mostly-dark-blue: #121214;
    --bright-yellow: #F7DD43;
    --white: #FFFFFF;
    --very-dark-grayish-blue: #323238;
    --dark-yellow-olive-tone: #746615;
    --Very-dark-yellow: #1D1C19;
}

* {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}

body {
    background: url("../img/bg-blue.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--very-dark-blue);
}

.header {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 4.3rem;
    padding: 2rem;

}
.header img {
    margin-bottom: 1rem;
}

#app {
    width: fit-content;
    margin: auto;
}

.card {
    padding: 5.2rem 3.3rem;
    text-align: center;
    border-radius: .6rem;
    border-bottom: .2rem solid var(--Bright-yellow);
    background: var(--Very-dark-yellow)
}

.card h2 {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: .8rem 1.6rem;
    border: .1rem solid var(--dark-yellow-olive-tone);
    border-radius: .6rem;
    font-size: 2.4rem;
    color: var(--bright-yellow);
    width: fit-content;
    margin-inline: auto;
    margin-bottom : 5.3rem;
}

.card span {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--white);
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 27rem;
}
.card li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.6rem;
    color: var(--white);
}

.card li + li {
    padding-top: 2.4rem;
    border-top: solid .1rem var(--Very-dark-grayish-blue);
}