:root {
    --very-dark-mostly-blue: #202024;
    --very-dark-blue: #121214;
    --bright-yellow: #F7DD43;
    --bright-blue: #338AF3;
    --white: #FFFFFF;
    --very-dark-grayish-blue: #323238;
    --dark-yellow-olive-tone: #746615;
    --very-dark-yellow: #1D1C19;
}

* {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}

body {
    background: url("../img/bg-blue.svg") var(--very-dark-blue) no-repeat top center/cover;
}

.header {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 4.3rem;
    

}
.header img {
    padding-bottom: 1rem;
}

#app {
    width: fit-content;
    margin: auto;
    padding-top: 4rem;
}

#cards {
    display: flex;
    gap: 3.2rem;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    padding: 5.2rem 3.3rem;
    text-align: center;
    border-radius: .6rem;
    border-bottom: .2rem solid var(--bright-blue);
    background: var(--very-dark-mostly-blue);
    animation: appear 300ms;
}

.card h2 {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: .8rem 1.6rem;
    border: .1rem solid var(--bright-blue);
    border-radius: .6rem;
    font-size: 2.4rem;
    color: var(--bright-yellow);
    width: fit-content;
    margin-inline: auto;
    margin-bottom : 5.3rem;
}

.card span {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--white);
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 27rem;
}
.card li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.6rem;
    color: var(--white);
}

.card li + li {
    padding-top: 2.4rem;
    border-top: solid .1rem var(--very-dark-grayish-blue);
}

.card h2:hover,
.card li img:hover,
.card li strong:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}